body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

header {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 50%;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #343a40;
    color: white;
}

td.skill-category {
    font-weight: bold;
    background-color: #f8f9fa;
}

td.skill-name {
    font-weight: bold;
}

td.skill-progress {
    font-style: italic;
    color: #6c757d;
}
